/*MAIN*/

@font-face {
    font-family: 'IntroCondBlackFree';
    src: url('../fonts/IntroCond/IntroCondBlackFree.eot?#iefix') format('embedded-opentype'),
    url('../fonts/IntroCond/IntroCondBlackFree.otf') format('opentype'),
    url('../fonts/IntroCond/IntroCondBlackFree.woff') format('woff'),
    url('../fonts/IntroCond/IntroCondBlackFree.ttf') format('truetype'),
    url('../fonts/IntroCond/IntroCondBlackFree.svg#IntroCondBlackFree') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/Icomoon/icomoon.eot?8enuo2');
    src: url('../fonts/Icomoon/icomoon.eot?#iefix8enuo2') format('embedded-opentype'),
    url('../fonts/Icomoon/icomoon.woff?8enuo2') format('woff'),
    url('../fonts/Icomoon/icomoon.ttf?8enuo2') format('truetype'),
    url('../fonts/Icomoon/icomoon.svg?8enuo2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"]:before, [class^="icon-"]:after, [class*=" icon-"]:before, [class*=" icon-"]:after {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
    content: "\e600";
}

body {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    position: relative;
}

ul {
    list-style: none outside none;
    padding: 0;
    margin: 0;
}

a:focus {
    outline: none;
}

.wrapper {
    max-width: 1920px;
    min-width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.white {
    color: #fff;
}

.blue {
    color: #4880ac;
}

.yellow {
    color: #fff32f;
}

h2 {
    line-height: 43px;
    margin: 16px 0 0;
    font-family: 'IntroCondBlackFree', serif;
    font-size: 37px;
    font-size: 2.313rem;
    position: relative;
}

img {
    vertical-align: top;
}

h2.white {
    background: url("../lossy-images/white-deco.png") no-repeat scroll center bottom transparent;
    padding: 0 0 45px;
}

h2.black {
    background: url("../lossy-images/black-deco.png") no-repeat scroll center bottom transparent;
    padding: 0 0 45px;
}

.arial {
    font-family: Arial, sans-serif;
}

.tahoma {
    font-family: Tahoma, sans-serif;
}

/*Common*/

.logo,
.main-title,
.welcome,
h2,
.beast,
.bottom-header ul li,
.bottom-header .row .addition,
.bottom-header .row .addition ~ p,
.interference > .container > p,
.blue-dotted,
.hl-add,
.how-learn li,
.how-learn ul + p,
.barriers p,
.temptation .row ~ *,
.date,
.red-order,
.waiting li,
.not-waiting li,
.organizer h2 ~ p,
.in-the-past,
.long-red-order,
.not-afraid h2 ~ p,
.left-leaf,
.right-leaf,
.spiker-image,
.spikers > .container > p,
.create > .container > *,
.create ol,
.yellow-dotted,
.who-are-waiting > .container > p,
.seats,
.reviews,
.what-to-do,
.argument,
.warning,
.table,
.investment,
.copyright,
.contraindications p.big {
    text-align: center;
}

.bottom-header .addition,
.bottom-header .row .addition ~ p,
.interference > .container > p,
.interference .seven.columns p,
.blue-dotted,
.yellow-dotted,
.hl-add,
.barriers ul li,
.temptation li span,
.red-order,
.long-red-order,
.waiting li p,
.after-end li p,
.after-end li,
.organizer h2 + p + p,
.organizer ul li,
.in-the-past h2 + p,
.spiker-name,
.theme,
.create p.blue,
.step,
.create ol li p,
.who-are-waiting li span,
.contraindications li span,
.contraindications a,
.black-dotted,
.what-to-do ol li span.title,
.argument .ex,
.argument li p,
.warning li span.blue,
.warning .yellow,
.table th,
.investment li span.white,
.footer a,
.navigation li a {
    font-weight: bold;
}

h2,
.hl-add,
.blue-dotted,
.yellow-dotted,
.how-learn li,
.temptation li span,
.date,
.red-order,
.long-red-order,
.after-end li span.title,
.organizer h2 + p + p,
.organizer p.blue,
.not-afraid p.blue,
.spiker-name,
.projects,
.create p.blue,
.step,
.who-are-waiting li span.blue,
.contraindications li span.blue,
.contraindications a,
.black-dotted,
.what-to-do ol li span.title,
.argument .ex,
.warning li span.blue,
.warning .yellow,
.table th,
.investment li span.white,
.answers li .question {
    text-transform: uppercase;
}

/*HEADER*/

.header {
    background: url("../lossy-images/header-bg.jpg") no-repeat scroll center 0 transparent;
    height: 1600px;
}

.navbar-toggle {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    float: left;
    height: 70px;
}

.mobile-navigation,
.navbar-toggle {
    display: none;
}

.navigation {
    background: rgb(69, 72, 77);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69, 72, 77, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
    background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -o-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: -ms-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
}

.navigation li {
    float: left;
    margin: 0 10px;
}

.navigation li a {
    color: #fff;
    display: block;
    line-height: 70px;
    text-decoration: none;
    padding: 0 10px;
    transition: .3s;
    font-size: 1rem;
}

.navigation li.active a,
.navigation li a:hover {
    background-color: green;
    transition: .3s;
}

.phone-box p {
    line-height: 70px;
    margin: 0;
}

.phone-box a {
    color: #fff;
    font-size: 35px;
    font-size: 2.188rem;
    font-style: italic;
    text-decoration: none;
}

.phone-box span {
    font-size: inherit !important;
}

.logo {
    display: block;
    /*margin: 20px 0 0;*/
    margin: 60px 0 0;
}

.logo img {
    max-width: 100%;
}

.main-title {
    background: url("../lossy-images/main-title.png") no-repeat scroll center 0 / 76% auto transparent;
    margin: 67px 0 0;
    min-height: 60px;
    text-indent: -9999px;
}

.welcome {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 22px;
    margin: 30px 0 0;
}

.welcome p {
    margin: 0 0 4px;
}

.bottom-header h2 {
    margin-bottom: 28px;
}

.bottom-header p.white {
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 20px;
    padding: 0 0 0 45px;
}

.bottom-header .offset-by-four p {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 34px;
    padding: 0 50px 0 60px;
}

.beast {
    background: url("../lossy-images/top-beast.png") no-repeat scroll center 0 / 100% auto transparent;
    height: 380px;
    left: -19px;
    position: absolute;
    top: 150px;
    width: 476px;
}

.beast p {
    bottom: 70px;
    font-family: "IntroCondBlackFree", serif;
    font-size: 26px;
    font-size: 1.625rem;
    line-height: 34px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

.beast p span {
    font-size: 40px;
    font-size: 2.5rem;
}

.bottom-header ul {
    margin: 36px 0 0;
}

.bottom-header ul li {
    background: url("../lossy-images/bottom-header-three-list-bg.png") no-repeat scroll center 0 transparent;
    box-sizing: border-box;
    height: 249px;
    line-height: 18px;
    padding: 33px 45px 0;
}

.bh-list-img {
    height: 68px;
}

.bottom-header ul li p {
    margin: 0;
}

.bottom-header .addition {
    margin: 38px 0 21px;
    padding: 0 65px;
}

.bottom-header .row .addition ~ p {
    line-height: 22px;
    margin: 0;
}

/* #MIDDLE# */
.middle > section {
    box-sizing: border-box;
}

/*interference*/

.interference {
    background: url("../lossy-images/interference-bg.jpg") no-repeat scroll center 0 transparent;
    height: 1129px;
    overflow: hidden;
    padding: 35px 0 0;
}

.interference h2 {
    margin-bottom: 24px;
}

.interference > .container > p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 24px;
    margin: 0 0 24px;
    padding: 0 90px;
}

.interference .seven.columns {
    padding: 15px 0 0;
}

.blue-dotted {
    border: 3px dotted #9ba0ab;
    box-sizing: border-box;
    color: #3c6b8f;
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem;
    padding: 13px 45px;
}

.blue-dotted p {
    text-transform: none;
    font-weight: normal;
}

.interference .blue-dotted {
    margin: -5px 0 0;
}

.interference .five.columns p {
    line-height: 19px;
    margin: 20px 0 0;
}

/*how-learn*/

.how-learn {
    background: url("../lossy-images/how-learn-bg.jpg") no-repeat scroll center 0 transparent;
    height: 913px;
    padding: 41px 0 0;
}

.hl-add {
    font-size: 20px;
    font-size: 1.25rem;
}

.how-learn li {
    height: 265px;
}

.hl-img img {
    position: relative;
    top: -87px;
}

.hl-img + p {
    padding: 0 50px;
    position: relative;
    top: -138px;
}

.how-learn ul + p {
    margin: 12px 0 20px;
    padding: 0 105px;
}

.how-learn .eight.columns p {
    margin: 0 0 18px;
}

.how-learn .blue-dotted {
    font-size: 20px;
    font-size: 1.25rem;
    margin: 0 0 22px 140px;
}

/*Barriers*/

.barriers {
    background: url("../lossy-images/barriers-bg.jpg") no-repeat scroll center 0 transparent;
    height: 712px;
    padding: 34px 0 0;
}

.barriers h2 {
    margin-bottom: 30px;
}

.barriers p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 24px;
    margin: 0;
    padding: 0 95px;
}

.barriers ul {
    margin: 23px 0 0;
    padding: 0 0 0 49px;
}

.barriers ul li,
.organizer ul li {
    background: url("../lossy-images/barrier-list.png") no-repeat scroll left center transparent;
    box-sizing: border-box;
    display: table !important;
    font-size: 20px;
    font-size: 1.25rem;
    height: 53px;
    margin: 0 0 12px;
    padding: 0 39px 0 65px;
}

.barriers ul li span,
.organizer ul li span {
    display: table-cell;
    vertical-align: middle;
}

/*Temptation*/

.temptation {
    padding: 30px 0 0;
    height: 1512px;
    position: relative;
}

.temptation:after {
    background: url("../lossy-images/temptation.jpg") no-repeat scroll center 0 transparent;
    content: "";
    height: 1237px;
    position: absolute;
    top: -12px;
    width: 100%;
}

.temptation h2 {
    position: relative;
    z-index: 2;
}

.temptation li {
    box-sizing: border-box;
    height: 252px;
    padding-top: 60px;
    position: relative;
    z-index: 2;
}

.temptation ul {
    margin: 45px 0 0;
}

.temptation .row + p {
    margin: 136px 0 18px;
}

.temptation .row ~ p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    padding: 0 70px;
}

.temptation .row ~ * {
    position: relative;
    z-index: 2;
}

.temptation li.offset-by-five * {
    padding: 0 0 0 82px;
}

.temptation li.six.columns * {
    padding: 0 0 0 47px;
}

.temptation li .blue {
    display: block;
    font-size: 24px;
    font-size: 1.5rem;
    margin: 0 0 5px;
}

.temptation p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 22px;
    margin: 0;
}

.temptation .one {
    margin-bottom: 118px;
}

.temptation .three {
    margin-top: 356px;
}

.temptation .blue-dotted {
    display: block;
    margin: 25px auto;
    width: 875px;
}

/*Piterinfobiz*/

.piterinfobiz {
    background: url("../lossy-images/pi-bg.jpg") no-repeat scroll center 0 transparent;
    height: 876px;
    padding: 10px 0 0;
}

.date {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc2OTliMiIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3Njk5YjIiIHN0b3Atb3BhY2l0eT0iMC43NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(118, 153, 178, 0.75) 0%, rgba(118, 153, 178, 0.75) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(118, 153, 178, 0.75)), color-stop(100%, rgba(118, 153, 178, 0.75)));
    background: -webkit-linear-gradient(top, rgba(118, 153, 178, 0.75) 0%, rgba(118, 153, 178, 0.75) 100%);
    background: -o-linear-gradient(top, rgba(118, 153, 178, 0.75) 0%, rgba(118, 153, 178, 0.75) 100%);
    background: -ms-linear-gradient(top, rgba(118, 153, 178, 0.75) 0%, rgba(118, 153, 178, 0.75) 100%);
    background: linear-gradient(to bottom, rgba(118, 153, 178, 0.75) 0%, rgba(118, 153, 178, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf7699b2', endColorstr='#bf7699b2', GradientType=0);
    border: 3px ridge #fff;
    font-size: 20px;
    font-size: 1.25rem;
    margin: 15px 0 0;
    padding: 0 0 20px;
}

.date p {
    line-height: 10px;
    margin: 16px 0 0;
}

.video-box {
    background: url("../lossy-images/top-video-part.png") no-repeat scroll center 0 transparent;
    margin: 6px auto;
    padding: 28px 0 0;
    width: 646px;
}

.video:after {
    background: url("../lossy-images/video-shadow.png") no-repeat scroll center 0 transparent;
    position: absolute;
    content: "";
    width: 100%;
    height: 9px;
    left: 0;
    bottom: -12px;
}

.video {
    border-color: #fff;
    border-style: solid;
    border-width: 3px 4px 5px;
    box-sizing: border-box;
    position: relative;
}

.video img {
    width: 100%;
}

.video img:hover {
    cursor: pointer;
}

.video iframe {
    vertical-align: top;
}

.red-order {
    background: url("../lossy-images/red-button.png") no-repeat scroll center 0 transparent;
    color: #fff;
    display: block;
    font-size: 19px;
    font-size: 1.188rem;
    height: 68px;
    line-height: 52px;
    margin: 72px auto 0;
    text-decoration: none;
    width: 418px;
}

.red-order:hover {
    background-position: center -77px;
}

.long-red-order {
    background: url("../lossy-images/long-red-button.png") no-repeat scroll center 0 transparent;
    color: #fff;
    display: block;
    font-size: 19px;
    font-size: 1.188rem;
    height: 68px;
    line-height: 52px;
    margin: 72px auto 0;
    text-decoration: none;
    width: 550px;
}

.long-red-order:hover {
    background-position: -1px -72px;
}

/*Waiting*/

.waiting {
    background: url("../lossy-images/waiting-bg.jpg") no-repeat scroll center 0 transparent;
    height: 730px;
    padding: 32px 0 0;
}

.waiting ul {
    margin: 18px 0 0;
}

.waiting li {
    margin-bottom: 35px;
}

.w-img {
    height: 128px;
    display: table;
    width: 100%;
}

.w-img > span {
    display: table-cell;
    vertical-align: middle;
}

.waiting li p,
.argument li p {
    background: url("../lossy-images/waiting-list-bg.png") no-repeat scroll center 0 / 100% auto transparent;
    box-sizing: border-box;
    font-size: 14px;
    font-size: 0.875rem;
    height: 105px;
    margin: 10px 0 0;
    overflow: hidden;
    padding: 10px 31px 0;
}

/*not-waiting*/

.not-waiting {
    background: url("../lossy-images/subtle.jpg") repeat scroll 0 0 transparent;
    height: 587px;
    padding: 26px 0 0;
}

.not-waiting ul {
    margin: 30px 0 0;
}

/*after-end*/

.after-end {
    background: url("../lossy-images/after-end-bg.jpg") repeat scroll center 0 transparent;
    padding: 42px 0 0;
    height: 731px;
}

.after-end ol {
    counter-reset: li;
    padding: 0;
    list-style: none;
}

.after-end ol li {
    background: url("../lossy-images/after-end-list-bg.png") no-repeat scroll center 0 transparent;
    box-sizing: border-box;
    height: 404px;
    overflow: hidden;
    padding: 140px 15px 25px 30px;
    position: relative;
}

.after-end ol li:before {
    color: #faf6a7;
    content: "0" counter(li, decimal);
    counter-increment: li;
    font-family: "IntroCondBlackFree", serif;
    font-size: 115px;
    font-size: 7.188rem;
    left: 37px;
    position: absolute;
    text-shadow: -2px 0 0 #fff, -1px -1px 0 #fff;
    top: 72px;
}

.after-end span.title {
    font-size: 20px;
    font-size: 1.25rem;
}

.after-end li p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 22px;
    margin: 21px 0 0;
}

.after-end .red-order {
    margin-top: 36px;
}

/*organizer*/

.organizer {
    background: url("../lossy-images/organizer-bg.jpg") no-repeat scroll center 0 transparent;
    height: 1323px;
    padding: 36px 0 0;
    position: relative;
}

.organizer h2 {
    font-family: 'Roboto', sans-serif;
}

.author-name,
.author-image {
    display: none;
}

.organizer h2 + p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 23px;
    margin: 41px 0 0;
    padding: 0 75px;
}

.organizer h2 + p + p {
    font-size: 20px;
    font-size: 1.25rem;
}

.organizer ul {
    margin-bottom: 17px;
    margin-top: 208px;
    padding: 0 0 0 30px;
}

.organizer ul li {
    font-weight: normal;
    margin-bottom: 14px;
    text-transform: uppercase;
}

.organizer .note,
.not-afraid .note {
    padding: 0 100px;
}

.organizer p.blue,
.not-afraid p.blue {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 22px;
}

/*In the past*/

.in-the-past {
    background: url("../lossy-images/in-the-past-bg.jpg") no-repeat scroll center 0 transparent;
    height: 873px;
    padding: 55px 0 0;
}

.in-the-past h2 {
    font-family: Roboto, serif;
}

.in-the-past h2 + p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 22px;
    margin: 10px 0 34px;
}

.in-the-past .long-red-order {
    margin-top: 111px;
}

/*not-afraid*/

.not-afraid {
    background: url("../lossy-images/subtle.jpg") repeat scroll 0 0 transparent;
    height: 1021px;
    padding: 36px 0 0;
    position: relative;
}

.not-afraid > .container:before {
    background: url("../lossy-images/riches.png") no-repeat scroll 0 0 transparent;
    content: "";
    height: 823px;
    left: -517px;
    position: absolute;
    top: -11px;
    width: 1212px;
    z-index: 0;
}

.not-afraid > .container * {
    position: relative;
}

.not-afraid h2 {
    font-family: Roboto, serif;
}

.not-afraid h2 + p {
    font-size: 20px;
    font-size: 1.25rem;
    margin: 38px 0 41px;
    padding: 0 75px;
}

.not-afraid h2 + p + p {
    padding: 0 80px;
}

.not-afraid .blue-dotted {
    display: block;
    margin: 40px auto 35px;
    width: 620px;
}

.left-leaf,
.right-leaf {
    width: 333px;
    height: 156px;
    font-size: 18px;
    font-size: 1.125rem;
}

.left-leaf {
    background: url("../lossy-images/riches-left-leaf.png") no-repeat scroll 0 0 transparent;
    float: right;
}

.right-leaf {
    background: url("../lossy-images/riches-right-leaf.png") no-repeat scroll 0 0 transparent;
    float: left;
}

.left-leaf p {
    line-height: 22px;
    padding: 19px 40px 0;
}

.not-afraid p.note {
    line-height: 19px;
    margin: 134px 0 0;
}

/*Spikers*/

.spikers {
    background: url("../lossy-images/spikers-bg.jpg") no-repeat scroll center 69px transparent;
    padding: 26px 0 0;
    height: 2909px;
}

.spikers .spikers-list {
    margin: 116px 0 186px;
}

.spikers .spikers-list > li {
    margin: 0 0 30px;
}

.spiker-image {
    background: url("../lossy-images/spiker-image-bg.png") no-repeat scroll center 0 transparent;
    width: 337px;
    height: 337px;
}

.spiker-image img {
    left: 1px;
    position: relative;
    top: -41px;
}

.spiker-info * {
    padding: 0 0 0 7px;
}

.spiker-name {
    display: block;
    font-size: 20px;
    font-size: 1.25rem;
    margin: 8px 0 20px;
}

.spiker-info p {
    line-height: 19px;
    margin: 0;
}

.spiker-info a {
    color: inherit;
    padding: 0;
}

.spiker-info a:hover {
    text-decoration: none;
}

.t-right {
    text-align: right;
}

.spiker-info.t-right {
    padding: 82px 0 0;
}

.theme {
    font-size: 18px;
    font-size: 1.125rem;
    margin: 4px 0 0 !important;
}

.bogdanov {
    margin-bottom: 139px !important;
}

.higer {
    margin-bottom: 53px !important;
}

.higer .spiker-image img {
    top: -46px;
}

.projects {
    margin: 10px 0 !important;
}

.projects-list li {
    background: url("../lossy-images/projects-list-img.png") no-repeat scroll left center transparent;
    display: table;
    padding: 0 0 0 25px;
}

.projects-list li span {
    display: table-cell;
    vertical-align: middle;
}

.unknown {
    top: 65px !important;
}

.spec {
    margin-top: 30px !important;
}

.ushanov {
    margin-bottom: 161px !important;
}

.spikers > .container > p {
    padding: 0 70px;
}

.spikers > .container > p + p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 23px;
}

.spikers .red-order {
    margin-top: 46px;
}

/*Create*/

.create {
    background: url("../lossy-images/create-bg.jpg") repeat scroll 0 0 transparent;
    min-height: 1419px;
    padding: 41px 0 0;
}

.create > .container > h2 ~ * {
    padding: 0 90px;
}

.create > .container > .row {
    padding: 0 !important;
}

.create h2 {
    font-family: Roboto, serif;
}

.create h2 + p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 22px;
    margin: 55px 0 20px;
}

.create p.blue {
    font-size: 20px;
    font-size: 1.25rem;
    margin: 24px 0 73px;
}

.create ol {
    counter-reset: li;
    padding: 0;
    list-style: none;
    margin: 0;
}

.create ol li {
    display: inline-block !important;
    float: none !important;
    min-height: 250px;
    position: relative;
    vertical-align: top;
}

.create ol li .step-box {
    background-color: #f5d73b;
    box-sizing: border-box;
    height: 182px;
    margin: 0 0 0 24px;
    padding: 20px 0 0;
    position: relative;
    text-align: left;
    width: 183px;
}

.create ol li .step-box:after {
    background: url("../lossy-images/create-list-arrow.png") no-repeat scroll 0 0 transparent;
    content: "";
    height: 56px;
    left: 100%;
    margin-top: -28px;
    position: absolute;
    top: 50%;
    width: 29px;
}

.create ol li.no-arrow .step-box:after {
    display: none;
}

.create ol li p {
    margin: 3px 0;
    padding: 0 15px 0 20px;
}

.create ol li:before {
    background: url("../lossy-images/create-list-counter-bg.png") no-repeat scroll 0 0 transparent;
    color: #f4d73b;
    content: counter(li, decimal);
    counter-increment: li;
    font-family: IntroCondBlackFree;
    font-size: 51px;
    font-size: 3.188rem;
    height: 70px;
    left: -11px;
    line-height: 70px;
    position: absolute;
    text-align: center;
    top: -36px;
    width: 70px;
    z-index: 2;
}

.step {
    font-size: 33px;
    font-size: 2.063rem;
    padding: 0 0 0 32px;
}

.yellow-dotted {
    color: #f4d73b;
    border: 3px dotted #f4d73b;
    box-sizing: border-box;
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem;
    padding: 13px 45px !important;
}

.create > .container > .row + p {
    margin: -55px 0 0;
}

.create .yellow-dotted {
    margin: 0 0 20px;
}

.big {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 22px;
}

.create .red-order {
    margin-top: 60px;
}

/*Who-are-waiting*/

.who-are-waiting {
    background: url("../lossy-images/who-are-waiting-bg.jpg") no-repeat scroll center 176px transparent;
    min-height: 2284px;
    padding: 55px 0 0;
}

.who-are-waiting ul {
    margin: 182px 0 145px;
}

.who-are-waiting ul li.one {
    margin-bottom: 290px;
}

.who-are-waiting ul li.two {
    margin-bottom: 174px;
}

.who-are-waiting ul li.three {
    margin-bottom: 230px;
}

.who-are-waiting ul li.offset-by-five * {
    padding: 0 45px 0 30px;
}

.who-are-waiting ul li p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 22px;
}

.who-are-waiting li span {
    font-size: 24px;
    font-size: 1.5rem;
    display: block;
    line-height: 28px;
}

.who-are-waiting > .container > p {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 22px;
    padding: 0 100px;
}

.who-are-waiting .row + p {
    margin-top: 100px;
}

.who-are-waiting .red-order {
    margin-top: 42px;
}

/*contraindications*/

.contraindications {
    background: url("../lossy-images/contraindications-bg.jpg") no-repeat scroll 0 0 transparent;
    padding: 16px 0 0;
    height: 771px;
}

.contraindications .money-man {
    background: url("../lossy-images/contraindications-man.png") no-repeat scroll 0 0 transparent;
    bottom: -2px;
    content: "";
    height: 518px;
    position: absolute !important;
    right: -70px;
    width: 517px;
    z-index: 2;
}

.contraindications > .container > * {
    position: relative;
    z-index: 2;
}

.contraindications h2 {
    margin-bottom: 32px;
}

.contraindications p.big {
    line-height: 24px;
    margin: 0;
}

span.blue {
    font-size: 24px;
    font-size: 1.5rem;
}

.contraindications ul {
    box-sizing: border-box;
    margin: 15px 0 0;
    padding: 0 0 0 55px;
}

.contraindications li {
    background: url("../lossy-images/contraindications-list-bg.png") no-repeat scroll 0 0 / 100% 100% transparent;
    min-height: 311px;
    padding: 67px 0 0 40px;
}

.contraindications ul li p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 22px;
    margin: 0;
}

.contraindications li span.blue {
    display: block;
    margin: 0 0 23px;
}

.contraindications a {
    border-bottom: 2px solid #3d6c9b;
    text-decoration: none;
    color: #3d6c9b;
}

.contraindications a:hover {
    border-bottom: transparent;
}

.contraindications .six.columns > p {
    padding: 0 0 0 55px;
}

/*Seats*/

.seats {
    background: url("../lossy-images/seats-bg.jpg") no-repeat scroll center 0 transparent;
    height: 773px;
    padding: 40px 0 0;
}

.count {
    background: url("../lossy-images/count.png") no-repeat scroll center 0 transparent;
    height: 219px;
    margin-top: 20px;
    text-indent: -9999px;
}

.black-dotted {
    color: #000;
    border: 3px dotted #b2b5b4;
    box-sizing: border-box;
    display: inline-block;
    font-size: 18px;
    font-size: 1.125rem;
    padding: 13px 45px !important;
}

.seats > .container > p.big {
    line-height: 24px;
    margin: 25px 0 30px;
    padding: 0 110px;
}

.seats .black-dotted {
    margin: 0 0 10px;
}

.seats .black-dotted + p {
    padding: 0 85px;
}

.seats .long-red-order {
    margin-top: 0;
}

/*Reviews*/

.reviews {
    background: url("../lossy-images/reviews-bg.jpg") no-repeat scroll center 0 transparent;
    height: 1421px;
    padding: 41px 0 0;
}

.reviews h2 > span {
    font-size: 28px;
    font-size: 1.75rem;
    position: relative;
    top: -8px;
}

.reviews ul {
    margin: 15px 0 0;
}

.reviews li .video-box {
    background-size: 100% auto;
    padding: 18px 0 0;
    width: 409px;
}

.reviews .video-box {
    box-shadow: 0 0 3px #000;
}

.reviews li .video-box .video:after {
    background-size: 100% auto;
    bottom: -14px;
}

.reviews .blue-dotted {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.reviews > .container > p {
    margin: 8px 0 18px;
    padding: 0 100px;
}

.keyboard {
    background: url("../lossy-images/keyboard.png") no-repeat scroll 0 0 transparent;
    height: 61px;
    margin: 15px 0 0;
}

.reviews .red-order {
    margin-top: 21px;
}

/*what-to-do*/

.what-to-do {
    background: url("../lossy-images/what-to-do-bg.jpg") no-repeat scroll center bottom transparent;
    height: 1075px;
    padding: 46px 0 0;
}

.what-to-do h2 + p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 21px;
    margin: 33px 0 36px;
    padding: 0 100px;
}

.what-to-do .blue-dotted {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.what-to-do ol {
    counter-reset: li;
    list-style: outside none none;
    margin: 12px 0 0;
    padding: 0;
}

.what-to-do ol li {
    background: url("../lossy-images/what-to-do-list-bg.png") no-repeat scroll center 0 transparent;
    box-sizing: border-box;
    height: 404px;
    overflow: hidden;
    padding: 130px 15px 25px 30px;
    position: relative;
    text-align: left;
}

.what-to-do ol li:before {
    color: #cfedf3;
    content: counter(li, decimal) " ПУТЬ";
    counter-increment: li;
    font-family: "IntroCondBlackFree", serif;
    font-size: 80px;
    font-size: 5rem;
    left: 35px;
    position: absolute;
    text-shadow: -2px 0 0 #fff, -1px -1px 0 #fff;
    top: 60px;
}

.what-to-do ol li span.title {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 24px;
}

.what-to-do ol li p {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 21px;
    margin: 24px 0;
}

.what-to-do .long-red-order {
    margin-top: 200px;
}

/*Argument*/

.argument {
    background: url("../lossy-images/waiting-bg.jpg") no-repeat scroll center 0 / auto 100% transparent;
    height: 930px;
    padding: 37px 0 0;
}

.argument h2 + p {
    margin: 23px 0 0;
}

.argument .ex {
    font-size: 20px;
    font-size: 1.25rem;
    margin: 28px 0 0;
}

.argument ul {
    margin: 22px 0 0;
}

.argument-list-img {
    background: url("../lossy-images/spiker-image-bg.png") no-repeat scroll center 0 / 95% auto transparent;
    display: table;
    height: 285px;
    width: 100%;
}

.argument-list-img span {
    display: table-cell;
    vertical-align: middle;
}

.ship img {
    position: relative;
    left: -15px;
}

/*Warning*/

.warning {
    background: url("../lossy-images/warning-bg.jpg") no-repeat scroll center 0 transparent;
    height: 951px;
    padding: 42px 0 0;
}

.warning h2 + p {
    margin: 40px 0;
    padding: 0 75px;
}

.warning ul {
    margin: 83px 0 0;
}

.warning li span.blue {
    display: block;
    font-size: 42px;
    font-size: 2.625rem;
    margin: 0 0 30px;
}

.warning ul li {
    background: url("../lossy-images/warning-list-bg.png") no-repeat scroll center 0 transparent;
    height: 355px;
    overflow: hidden;
    padding-top: 45px;
    text-align: left;
}

.warning ul li * {
    padding: 0 45px 0 50px;
}

.warning ul li.offset-by-two {
    background-position: 189px 0;
}

.warning .yellow {
    font-size: 21px;
    font-size: 1.313rem;
    text-shadow: 0 0 3px #000;
}

/*In-the-box*/

.in-the-box {
    background: url("../lossy-images/in-the-box-bg.jpg") no-repeat scroll center 0 transparent;
    height: 934px;
    padding: 29px 0 0;
}

.in-the-box h2 {
    text-shadow: 0 0 15px #000;
}

.in-the-box h2 + p {
    line-height: 24px;
    margin: 29px 0 24px;
    padding: 0 85px;
    text-align: center;
}

.in-the-box .yellow-dotted {
    margin: 0 0 30px;
    text-shadow: 0 0 10px #000;
}

.in-the-box .yellow-dotted ~ p {
    line-height: 19px;
    margin: 0 0 21px;
}

/*Table*/

.table {
    background: url("../lossy-images/table-bg.jpg") no-repeat scroll center 0 / auto 100% transparent;
    min-height: 1253px;
    padding: 90px 0 0;
}

.table h2 {
    margin: 0;
}

.table h2 + p {
    line-height: 22px;
    margin: 19px 0;
    padding: 0 160px;
}

.board {
    background: url("../lossy-images/table.png") no-repeat scroll center 0 / 100% 100% transparent;
    box-sizing: border-box;
    padding: 82px 96px 50px 113px;
}

table {
    width: 100%;
    table-layout: fixed;
}

table td {
    padding: 9px 0;
}

tr {
    border-bottom: 2px solid #d7d8d9;
}

th {
    color: #ffe222;
    font-size: 18px;
    font-size: 1.125rem;
    padding: 0 0 22px;
}

.includes {
    text-align: left;
    width: 37%;
}

.nb {
    border: none;
}

.new-price {
    color: #ffe222;
    font-size: 18px;
    font-size: 1.125rem;
}

.mini-order {
    background: url("../lossy-images/mini-order.png") no-repeat scroll center 0 transparent;
    color: #fff;
    display: block;
    height: 47px;
    line-height: 32px;
    text-decoration: none;
}

.mini-order:hover {
    background-position: center -58px;
}

/*investment*/

.investment {
    min-height: 950px;
    padding: 33px 0 0;
}

.investment > .container > * {
    position: relative;
    z-index: 2;
}

.investment h2 + p {
    margin: 17px 0 8px;
}

.investment .money {
    position: static;
}

.investment .money:before,
.investment .money:after {
    position: absolute;
    content: "";

}

.investment .money:before {
    background: url("../lossy-images/money-left.png") repeat scroll 0 0 transparent;
    height: 572px;
    left: 0;
    top: 0;
    width: 194px;
}

.investment .money:after {
    background: url("../lossy-images/money-right.png") repeat scroll 0 0 transparent;
    height: 572px;
    right: 0;
    top: 0;
    width: 194px;
}

.investment li {
    background: url("../lossy-images/after-end-list-bg.png") no-repeat scroll 0 0 transparent;
    height: 355px;
    overflow: hidden;
    padding-top: 46px;
}

.investment li p {
    font-size: 18px;
    font-size: 1.125rem;
    margin: 12px 0 0;
    padding: 0 22px;
    text-align: left;
}

.investment li span.white {
    font-size: 42px;
    font-size: 2.625rem;
}

.investment .one {
    background-position: right 0;
}

.investment .two {
    background-position: left 0;
}

.investment ul {
    margin: 0 0 22px;
}

.investment .ex {
    margin: 0 0 12px;
    padding: 0 75px;
}

.investment .blue-dotted + p {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 28px;
    margin: 14px 0 0;
}

/*Answers*/

.answers {
    background: rgb(229, 229, 229);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(229, 229, 229, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(top, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5e5e5', endColorstr='#ffffff', GradientType=0);
    padding: 19px 0 0;
}

.answers ul {
    box-sizing: border-box;
    margin: 26px 0 0;
    padding: 0 30px;
}

.answers li {
    margin-bottom: 34px;
    padding: 14px 0 0 193px !important;
    position: relative;
    min-height: 171px;
}

.answers li:before {
    background: url("../lossy-images/question.png") no-repeat scroll 0 0 transparent;
    content: "";
    position: absolute;
    width: 192px;
    height: 171px;
    top: 0;
    left: 0;
}

.answers li .question {
    display: block;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 21px;
    margin: 0 0 18px;
}

.answers .red-order {
    margin-top: 0;
}

/*#FOOTER#*/

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ebebeb;
    z-index: 100500;
}

#page-preloader .preloader {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: url('../lossy-images/preloader.gif') no-repeat 50% 50%;
    margin: -64px 0 0 -64px;
}

/*@Media*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
    html {
        font-size: 80%;
    }

    .wrapper {
        min-width: 768px;
    }

    .beast {
        left: 0;
        top: 225px;
        width: 390px;
        height: 310px;
    }

    .beast p {
        bottom: 50px;
    }

    .bottom-header ul li {
        background-size: 100% auto;
    }

    .bottom-header ul li {
        padding: 33px 35px 0;
    }

    .bottom-header ul li p {
        line-height: 14px;
    }

    .hl-img + p {
        padding: 0 20px;
    }

    .how-learn .blue-dotted {
        margin-left: 75px;
    }

    .temptation .blue-dotted,
    .reviews li .video-box {
        width: 100%;
    }

    .waiting li p, .argument li p {
        line-height: 14px;
        padding: 13px 23px 0;
    }

    .after-end li p,
    .what-to-do ol li p {
        margin: 10px 0 0;
    }

    .spiker-image,
    .count,
    .argument-list-img,
    .warning ul li,
    .investment li,
    .money-man {
        background-size: 100% auto !important;
    }

    .spiker-image img {
        top: -74px;
    }

    .popov img {
        left: 3px;
        max-width: 93%;
        top: -50px;
    }

    .bogdanov img {
        left: 2px;
        max-width: 93%;
        top: -51px;
    }

    .higer img {
        max-width: 89%;
        top: -43px !important;
    }

    .unknown {
        top: 55px !important;
    }

    .contraindications > .container {
        height: 737px;
    }

    .contraindications > .container > .row {
        margin-bottom: 0 !important;
    }

    .contraindications .money-man {
        background: url("../lossy-images/contraindications-man.png") no-repeat scroll 0 0 transparent;
        bottom: -2px;
        height: 476px;
        position: absolute !important;
        right: -130px;
        width: 475px;
    }

    .mv iframe {
        height: 380px;
    }

    .argument-list-img {
        height: 235px;
        table-layout: fixed;
    }

    .ship img {
        left: -23px;
        width: 100% !important;
    }

    .argument-list-img img {
        width: 65%;
    }

    .argument {
        height: 100%;
        padding-bottom: 5px;
    }

    .warning ul li.offset-by-two {
        background-position: 128px 0;
        background-size: 300px auto;
    }

    .warning ul li p {
        padding: 0 20px;
    }

    .includes {
        width: 30%;
    }

    .mini-order {
        background-size: 100% auto;
        width: 89px;
    }

    .mini-order:hover {
        background-position: 0 -49px;
    }

    .table {
        padding-bottom: 50px;
    }

    .investment ul,
    .investment li p,
    .warning ul li p {
        text-align: center;
    }

    .investment li.offset-by-two {
        padding-left: 0;
    }

    .investment li {
        display: inline-block !important;
        float: none !important;
    }

    .investment li p {
        line-height: 15px;
        margin: 5px 0 0;
        padding: 0 15px;
    }

    .create ol > li:before {
        line-height: 1.9 !important;
    }

    .investment li {
        vertical-align: text-top;
    }

    .who-are-waiting .row + p {
        margin: 110px 0 0;
    }
}

@media only screen and (max-width: 767px) {

    html {
        font-size: 65%;
    }

    body,
    .t-right {
        text-align: center;
        font-size: 1.2rem;
    }

    .interference,
    .temptation,
    .not-afraid,
    .contraindications,
    .what-to-do,
    .argument,
    .warning,
    .in-the-box,
    .create ol li .step-box:after,
    .keyboard,
    .answers li:before {
        display: none!important;
    }

    .middle > section {
        padding: 20px 0!important;
    }

    .middle > section h2 {
        margin-top: 0!important;
    }

    .navigation .row,
    .header .row:last-child {
        margin-bottom: 0 !important;
    }

    .icon-list {
        color: #fff;
        font-size: 3.5rem;
        line-height: 70px;
        width: 50px;
    }

    .icon-list:hover {
        cursor: pointer;
    }

    .mobile-navigation,
    .navbar-toggle
    {
        display: block;
    }

    .mobile-navigation {
        background: rgb(69, 72, 77);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69, 72, 77, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
        background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
        background: -o-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
        background: -ms-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
        background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
        display: none;
    }

    .mobile-navigation li {
        float: none;
        margin: 0;
        text-align: center;
    }

    .mobile-navigation li a {
        line-height: 40px;
    }

    .navbar-toggle + .eight.columns {
        display: none;
    }

    .wrapper {
        min-width: 320px;
        max-width: 767px;
    }

    .phone-box {
        float: right !important;
        padding: 0 5px 0 0;
        text-align: right;
        width: 200px !important;
    }

    .phone-box p {
        line-height: 64px;
    }

    .main-title {
        background-size: 100% auto;
        background-position: center center;
    }

    .beast {
        height: 240px;
        left: 0;
        position: relative;
        width: inherit;
    }

    .beast p {
        bottom: 30px;
    }

    .beast + div {
        margin-top: 170px !important;
    }

    .bottom-header .offset-by-four p,
    .bottom-header ul,
    .bottom-header .addition,
    .date p,
    .spikers .spikers-list > li:last-child,
    .who-are-waiting .row + p {
        margin: 0 !important;
    }

    .bottom-header h2,
    .how-learn li,
    .waiting li,
    .organizer ul li,
    .spikers .spikers-list,
    .who-are-waiting ul li,
    .who-are-waiting ul,
    .bottom-header ul li,
    .barriers ul li, .organizer ul li{
        margin-bottom: 20px!important;
    }

    .header,
    .how-learn,
    .barriers,
    .waiting,
    .not-waiting,
    .after-end,
    .organizer,
    .in-the-past,
    .spikers,
    .who-are-waiting,
    .seats,
    .reviews,
    .answers li {
        height: 100%;
        min-height: 100% !important;
    }

    .header,
    .how-learn,
    .waiting,
    .reviews,
    .seats {
        background-size: auto 100%!important;
    }

    .header {
        padding-bottom: 20px!important;
    }

    .welcome {
        text-shadow: 0 0 2px #000;
    }

    .bottom-header .offset-by-four p,
    .bottom-header .addition,
    .interference > .container > p,
    .how-learn ul + p,
    .barriers p,
    .barriers ul,
    .organizer h2 + p,
    .organizer .note, .not-afraid .note,
    .spiker-info.t-right,
    .spiker-info *,
    .spikers > .container > p,
    .create > .container > h2 ~ *,
    .who-are-waiting ul li.offset-by-five *,
    .who-are-waiting > .container > p,
    .seats > .container > p.big,
    .seats .black-dotted + p,
    .reviews > .container > p,
    .table h2 + p,
    .investment .ex,
    .answers li,
    .blue-dotted p {
        padding: 0!important;
    }

    .how-learn .blue-dotted {
        margin-left: 0!important;
    }

    .blue-dotted {
        padding-left: 0!important;
        padding-right: 0!important;
    }

    .barriers {
        background: rgb(228,242,255);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0MCUiIHN0b3AtY29sb3I9IiNlNGYyZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzJjMmMyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
        background: -moz-linear-gradient(left,  rgba(228,242,255,1) 40%, rgba(194,194,194,1) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(40%,rgba(228,242,255,1)), color-stop(100%,rgba(194,194,194,1)));
        background: -webkit-linear-gradient(left,  rgba(228,242,255,1) 40%,rgba(194,194,194,1) 100%);
        background: -o-linear-gradient(left,  rgba(228,242,255,1) 40%,rgba(194,194,194,1) 100%);
        background: -ms-linear-gradient(left,  rgba(228,242,255,1) 40%,rgba(194,194,194,1) 100%);
        background: linear-gradient(to right,  rgba(228,242,255,1) 40%,rgba(194,194,194,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f2ff', endColorstr='#c2c2c2',GradientType=1 );
    }

    .date p {
        line-height: 26px;
        padding: 0 7px;
    }

    .video-box,
    .red-order,
    .long-red-order,
    .spiker-image {
        width: 100% !important;
    }

    .red-order,
    .long-red-order,
    .spiker-image,
    .count,
    .mini-order {
        background-size: 100% auto;
    }

    .red-order {
        height: 42px;
        line-height: 38px;
    }

    .red-order:hover {
        background-position: 0 -55px;
    }

    .long-red-order {
        height: 35px;
        line-height: 28px;
    }

    .long-red-order:hover {
        background-position: 0 -39px;
    }

    .waiting li p, .argument li p {
        font-size: 1.2rem;
    }

    .after-end span.title {
        font-size: 2rem;
    }

    .after-end ol li:before {
        left: 50%;
        margin-left: -40px;
    }

    .organizer {
        background: rgb(69, 72, 77);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69, 72, 77, 1)), color-stop(100%, rgba(0, 0, 0, 1)));
        background: -webkit-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
        background: -o-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
        background: -ms-linear-gradient(top, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
        background: linear-gradient(to bottom, rgba(69, 72, 77, 1) 0%, rgba(0, 0, 0, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000', GradientType=0);
    }

    .author-image {
        display: block;
    }

    .author-name {
        color: yellow;
        display: block;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .organizer ul,
    .who-are-waiting ul {
        margin-top: 20px!important;
    }

    .spikers {
        background: rgb(247,251,252);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZmJmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2Q5ZWRmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZGQ5ZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(left,  rgba(247,251,252,1) 0%, rgba(217,237,242,1) 40%, rgba(173,217,228,1) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(247,251,252,1)), color-stop(40%,rgba(217,237,242,1)), color-stop(100%,rgba(173,217,228,1)));
        background: -webkit-linear-gradient(left,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%);
        background: -o-linear-gradient(left,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%);
        background: -ms-linear-gradient(left,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%);
        background: linear-gradient(to right,  rgba(247,251,252,1) 0%,rgba(217,237,242,1) 40%,rgba(173,217,228,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7fbfc', endColorstr='#add9e4',GradientType=1 );
    }

    .spikers .spikers-list > li {
        margin-bottom: 60px!important;
    }

    .spiker-image {
        height: 310px!important;
    }

    .spiker-image img {
        max-width: 93%;
        top: -52px;
    }

    .projects-list li {
        padding-left: 30px!important;
        text-align: left;
    }

    .higer .spiker-image img {
        top: -59px;
    }

    .higer .spiker-image img {
        max-width: 90%;
        top: -47px;
    }

    .unknown {
        top: 55px !important;
    }

    .create ol li {
        width: 207px!important;
    }

    .create ol li p {
        font-size: 1.5rem;
    }

    .who-are-waiting {
        background: none;
    }

    .count {
        height: 150px;
        margin-top: 30px !important;
    }

    .seats .long-red-order {
        font-size: 1rem;
    }

    table th {
        font-size: 0.9rem;
    }

    table td {
        padding: 5px 0;
    }

    .board {
        background: none repeat scroll 0 0 #000;
        overflow-x: auto;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .includes {
        width: 20%;
    }

    .mini-order {
        background-position: 0 4px;
        background-size: 100% 76px;
        height: 32px;
        font-size: 1.125rem;
    }

    .mini-order:hover {
        background-position: 0 -40px;
    }

    .investment li {
        background-size: 100% 300px;
        height: 280px;
    }

    .footer a {
        font-size: 1.1rem;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    html {
        font-size: 80%;
    }

    .beast {
        height: 335px;
    }


    .beast p {
        bottom: 55px;
    }

    .barriers ul li, .organizer ul li {
        margin-bottom: 20px!important;
    }

    .phone-box {
        width: 265px!important;
    }

    .red-order {
        height: 60px;
        line-height: 50px;
    }

    .red-order:hover {
        background-position: 0 -77px;
    }

    .long-red-order {
        height: 50px;
        line-height: 38px;
    }

    .long-red-order:hover {
        background-position: 0 -55px;
    }

    .waiting li p, .argument li p {
        height: 155px;
        line-height: 25px;
        padding: 16px 45px 0;
    }

    .after-end ol li {
        background-size: 100% auto;
        height: 550px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .spiker-image {
        height: 425px !important;
    }

    .spiker-image {
        display: block !important;
        float: none !important;
        height: 325px !important;
        margin: 0 auto !important;
        width: 325px !important;
    }

    .higer .spiker-image img {
        max-width: 88%;
        top: -42px;
    }

    .create ol li p {
        font-size: 1.2rem!important;
    }

    .create ol li {
        display: block !important;
        float: none !important;
        margin: 0 auto !important;
    }

    .count {
        height: 210px;
    }

    table th {
        font-size: 0.9rem;
    }

    table td {
        padding: 9px 0;
    }

    .board {
        background: url("../lossy-images/table.png") no-repeat scroll center 0 / 100% 100% transparent;
        box-sizing: border-box;
        padding: 82px 25px;
    }

    .investment li {
        background-position: center 0 !important;
        background-size: 100% 350px;
        height: 320px;
    }
}
